
|Service|Status|Source|State|
|-------|------|------|-----|
{% for svc in ansible_facts['services'].values() %}
{% if 'running' in svc.state %}
{{ svc.name }} | {{ svc.status | default('na') }} | {{svc.source}}| {{svc.state}} |
{% else %}
{% endif %}
{% endfor %}